header > #navbar {
  padding: 30px 9.375rem;
}

#navbar .navbar__item {
  font-size: 1.125rem;
  padding: 0 3.125rem;
}
#navbar .account__container {
  display: flex;
  align-items: center;
}

#navbar .account__btn--icon {
  margin: 0 1.5rem;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  background-color: transparent;
  border: none;
}

#body__container {
  padding: 0 12.5rem;
}

footer > .footer__container {
  margin-top: 6rem;
  padding: 5rem 9.375rem;
  background-color: #1a1d1f;
}
@media screen and (max-width: 576px) {
  html {
    font-size: 4.8px;
  }
}
@media screen and (min-width: 577px) and (max-width: 639px) {
  html {
    font-size: 5.06666667px;
  }
}
@media screen and (min-width: 640px) {
  html {
    font-size: 5.33333333px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 6.4px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    font-size: 8.53333333px;
  }
}
@media screen and (min-width: 1280px) {
  html {
    font-size: 10.6666667px;
  }
}
@media screen and (min-width: 1536px) {
  html {
    font-size: 12.8px;
  }
}
@media screen and (min-width: 1792px) {
  html {
    font-size: 16px;
  }
}
